<section
  id="formSection"
  class="fullSection from-section content-flex-all-center"
>
  <div class="content-flex-all-center full-height flex-direction-column padding-form">
    <h2 class="title-secondary">DÉJANOS TUS DATOS</h2>

    <h3 class="title-tertiary max-width-title-secondary">
      REGÍSTRATE PARA CONOCER LAS NOVEDADES DE BECKS Y PREPÁRATE PARA DISFRUTAR MUCHAS MÁS EXPERIENCIAS
    </h3>

    <form
      [formGroup]="userRegisterForm"
      class="form-section"
      autocomplete="off"
    >
      <mat-form-field appearance="fill" floatLabel="auto" class="fullInput" [ngClass]="getClassInput(userRegisterForm.controls.name)" >
        <mat-label>Nombre</mat-label>
        <input
          matInput
          (input)="inputValidatorAlphabetical($event)"
          formControlName="name"
          placeholder="Nombre"
          maxlength="20"
          [(ngModel)]="userRegister.first_name"
          required
        >
        <mat-error *ngIf="userRegisterForm.controls.name.errors">{{ getMessageform(userRegisterForm.controls.name, 'nombre', 0, 20) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="auto" class="fullInput" [ngClass]="getClassInput(userRegisterForm.controls.surname)">
        <mat-label>Apellido</mat-label>
        <input
          matInput
          (input)="inputValidatorAlphabetical($event)"
          formControlName="surname"
          placeholder="Apellido"
          maxlength="20"
          [(ngModel)]="userRegister.last_name"
          required
        >
        <mat-error *ngIf="userRegisterForm.controls.surname.errors">{{ getMessageform(userRegisterForm.controls.surname, 'apellido', 0, 20) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="auto" class="fullInput" [ngClass]="getClassInputSelect(userRegisterForm.controls.gender)">
        <mat-label>Sexo</mat-label>
        <mat-select panelClass="backgroud-panel" formControlName="gender" required [(ngModel)]="userRegister.gender">
          <mat-option value="F"> FEMENINO</mat-option>
          <mat-option value="M"> MASCULINO</mat-option>
        </mat-select>
        <mat-error *ngIf="userRegisterForm.controls.gender.hasError('required')">Seleccione un género</mat-error>
      </mat-form-field>

      <div>

        <ion-grid class="no-padding">
          <ion-row>
            <ion-col size="2">
              <mat-form-field appearance="fill" floatLabel="auto" class="fullInput" [ngClass]="getClassInput(userRegisterForm.controls.prefix)">
                <mat-label>Pref.</mat-label>
                <input
                  matInput
                  (input)="inputValidatorNumeric($event)"
                  formControlName="prefix"
                  placeholder="+57"
                  required
                  minlength="1"
                  maxlength="3"
                  [(ngModel)]="userRegister.prefix"
                >
                <!--<mat-error *ngIf="userRegisterForm.controls.prefix.errors">{{ getMessageform(userRegisterForm.controls.prefix, 'prefijo', 1, 3)}}</mat-error>-->
                <mat-error *ngIf="userRegisterForm.controls.prefix.hasError('required')">Prefijo</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="1">
              
            </ion-col>
            <ion-col size="9">
              <mat-form-field appearance="fill" floatLabel="auto" class="fullInput" [ngClass]="getClassInput(userRegisterForm.controls.telephone)">
                <mat-label>Número Celular</mat-label>
                <input
                  matInput
                  (input)="inputValidatorNumeric($event)"
                  formControlName="telephone"
                  placeholder="Número Celular"
                  required
                  minlength="7"
                  maxlength="10"
                  [(ngModel)]="userRegister.phone"
                >
                <mat-error *ngIf="userRegisterForm.controls.telephone.errors">{{ getMessageform(userRegisterForm.controls.telephone, 'número celular', 7, 10)}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        

        
      </div>

      <mat-form-field appearance="fill" floatLabel="auto" class="fullInput" [ngClass]="getClassInput(userRegisterForm.controls.email)">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="example@example.com"
          [(ngModel)]="userRegister.email"
          type="email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[A-Za-z]{2,4}$"
          maxlength="30"
        >
        <mat-error *ngIf="userRegisterForm.controls.email.errors">{{ getMessageform(userRegisterForm.controls.email, 'email valido', 0, 30)}}</mat-error>
      </mat-form-field>
      
      <fieldset class="becks-captcha" *ngIf="userCaptcha.question">
        <legend>{{ userCaptcha.question  }}</legend>
        <mat-radio-group formControlName="captcha">
          <mat-radio-button 
            *ngFor="let answer of userCaptcha.answers; let i = index"
            class="answer" 
            disableRipple="true"
            [value]="answer.value"
            (change)="checkCaptcha(answer)">
              <mat-icon 
                [ngClass]="{'active': userAnswer.value === answer.value}"
                aria-hidden="false"
                aria-label="{{ answer.title }}"
                >{{ answer.icon }}</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <mat-error [hidden]="captchaAnswer.value == userAnswer.value">Captcha no valido</mat-error>
      </fieldset>

      <ion-button
        block="block"
        color="becks"
        (click)="saveUser()"
        class="becks-btn-primary margin-top-button"
        [disabled]="userRegisterForm.invalid || captchaAnswer.value != userAnswer.value"
      >
        <span>ENVIAR</span>
      </ion-button>
    </form>
  </div>
</section>