.interaction-section {
  color: #ffffff;
  background-color: #121212;

  .main-confirm-title {
    @media (min-width: 0px) and (max-width: 768px) {
    }
    @media (min-width: 769px) {
      font-size: 24px !important;
      line-height: 110% !important;
      font-style: normal !important;
      width: 343px;
    }
  }

  .logo-brand-modal {
    @media (min-width: 0px) and (max-width: 768px) {
      margin: 30px;
    }
    @media (min-width: 769px) {
      position: relative;
      top: 85px !important;
      left: 0px !important;
      margin-bottom: 100px;
    }
  }
}
.margin-top-button {
  margin: 10px;
}

@media (min-width: 769px) {
  .interaction-section {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: (url(./../../../../../../../assets/img/frankcolor.jpg));
    background-size: cover;
    background-position: top;
  }

  .section-question {
    background: rgba(2, 2, 2, 0.7);
    border-radius: 8px;
    width: 507px;
    height: auto;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    backdrop-filter: blur(20px) !important;
    padding-bottom: 80px;
  }
}
::ng-deep.item .sc-ion-label-md-h {
  border: none !important;
  color: #ffffff;
  @media (min-width: 0px) and (max-width: 768px) {
  }
  @media (min-width: 769px) {
    font-family: "Helvetica LT Std";
    font-size: 14px !important;
    line-height: 128% !important;
    font-style: normal !important;
  }
}
::ng-deep.ion-radio {
  margin-right: 10px !important;
}
