.interaction-section {
  color: #ffffff;
  background-color: #121212;

  .main-confirm-title {
    @media (min-width: 0px) and (max-width: 768px) {
    }
    @media (min-width: 769px) {
      font-size: 24px !important;
      line-height: 110% !important;
      font-style: normal !important;
      width: 343px;
    }
  }

  .logo-brand-modal {
    @media (min-width: 0px) and (max-width: 768px) {
      margin: 30px;
    }
    @media (min-width: 769px) {
      position: relative;
      top: 85px !important;
      left: 0px !important;
      margin-bottom: 100px;
    }
  }
}
.margin-top-button {
  margin: 10px;
}

@media (min-width: 769px) {
  .interaction-section {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: (url(./../../../../../../../assets/img/frankcolor.jpg));
    background-size: cover;
    background-position: top;
  }
}
