<section class="fullSection content-flex-all-center flex-direction-column content-section-img padding-logo">
  <img class="logo" src="./assets/img/becks-logo-2.svg" alt="logo">

    <h1 class="title-primary primary max-width-title-primary-age-gate">
      Bienvenido a beck’s society
    </h1>
    <h3 class="title-tertiary max-width-title-tertiary-age-gate"> para continuar con la experiencia debes ser mayor de edad </h3>
    
    <form
      [formGroup]="ageGateForm"
      autocomplete="off"
      class="padding-form-age"
    >

      <mat-form-field appearance="fill" floatLabel="auto" [ngClass]="getClassInput(ageGateForm.controls.day)" class="input-age margin-top">
        <mat-label>Día</mat-label>
        <input matInput formControlName="day" placeholder="DD" minlength="1" maxlength="2" (input)="inputValidatorNumeric($event)" data-qadp="age_gate_day"> 
        <mat-error *ngIf="ageGateForm.controls.day.errors">{{ getMessageform(ageGateForm.controls.day, 'dia', 2, 2, 1, 31) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="auto" [ngClass]="getClassInput(ageGateForm.controls.month)" class="input-becks input-age">
        <mat-label>Mes</mat-label>
        <input matInput formControlName="month" placeholder="MM" minlength="1" maxlength="2" (input)="inputValidatorNumeric($event)" data-qadp="age_gate_month">
        <mat-error *ngIf="ageGateForm.controls.month.errors">{{ getMessageform(ageGateForm.controls.month, 'mes', 2, 2, 1, 12) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="auto" [ngClass]="getClassInput(ageGateForm.controls.year)" class="input-becks input-age">
        <mat-label>Año</mat-label>
        <input matInput formControlName="year" placeholder="AAAA" minlength="4" maxlength="4" (input)="inputValidatorNumeric($event)" data-qadp="age_gate_year">
        <mat-error *ngIf="ageGateForm.controls.year.errors">{{ getMessageform(ageGateForm.controls.year, 'año', 4, 4, 1920, 2020) }}</mat-error>
      </mat-form-field>
    </form>

    <div class="content-check">
      <mat-checkbox color="success" class="margin-check"></mat-checkbox>
      <div><span class="title-fourthy">RECORDARME *</span> <i class="title-fourthy"> No utilizar en caso de ser un ordenador compartido con menores de edad. </i></div>
    </div>

    <button
      block="block"
      color="becks"
      [disabled]="ageGateForm.invalid"
      (click)="validateAgeGate()"
      class="becks-btn-primary margin-top-button"
      data-qadp="button_enter_agegate">
      <span>ENTRAR</span>
    </button>
    
    <div class="title-fourthy max-width-title-fourthy">
      <p class="no-margin">Este sitio web utiliza cookies que se quedarán almacenadas en el computador con el fin de mejorar su eficiencia. Al proporcionar su fecha de nacimiento, también se acepta el uso de cookies.</p>
      <a class="color-green text-decoration-underline" target="_blank" href="/terms-conditions">Más Información</a>
    </div>

    
</section>
<div class="content-expend">
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12"
      sizeSm="12"
      sizeLg="6"
      sizeXl="6"><p class="title-exp">PROHÍBESE EL EXPENDIO DE BEBIBAS EMBRIAGANTES A MENORES DE EDAD. EL EXCESO DE ALCOHOL ES PERJUDICIAL PARA LA SALUD</p></ion-col>
      <ion-col 
      sizeXs="12"
      sizeSm="12"
      sizeLg="6"
      sizeXl="6"
      class="col-flex-center">
    
      <div class="content-general-img">
        <div class="content-img">
          <img src="./assets/img/exp-1.png">
          <img src="./assets/img/exp-2.png">
          <img src="./assets/img/exp-3.png">
        </div>
        <div class="content-link">
          <a class="link-age-gate" target="_blank" href="http://www.bavaria.co/ConsumoResponsable">http://www.bavaria.co/ConsumoResponsable</a>
        </div>
      </div>

    </ion-col>
    </ion-row>
  </ion-grid>
</div>
<app-footer></app-footer>
<div  class="background-black padding-age-gate">
  <p class="title-fourthy">NO COMPARTA ESTE CONTENIDO CON MENORES DE EDAD</p>
  <p class="title-fourthy">Todos los derechos reservados @2020 <a target="_blank" href="https://www.ab-inbev.com" class="color-green"> Anheuser-Busch InBev</a></p>
</div>