.fullSection {
  padding: 35px 20px;
}
.background-black {
  background-color: #121212 !important;
}

.title-primary {
  margin-bottom: 0px !important;
  text-align: center;
  font-size: 16px !important;
  line-height: 110% !important;
  width: 50%;
  margin: auto;
  @media (min-width: 1024px) {
    font-size: 24px !important;
    line-height: 50px !important;
    width: 100%;
  }
}

h3 {
  font-family: "Helvetica LT Std";
}
a {
  color: #01c586;
}
p{
  font-size: 16px;
  font-family: "Helvetica LT Std";
}

.separator-min {
  width: auto;
  margin: 20px auto !important;
  @media (min-width: 1024px) {
    margin-top: 0px !important;
    margin-bottom: 30px !important;
  }
}

.logo {
  width: 125px;
  @media (min-width: 0px) and (max-width: 768px) {
    top: 17px !important;
    left: 0;
    right: 0;
    margin: auto;
  }
}
:host::ng-deep .mat-tab-labels {
  @media (min-width: 1024px) {
    flex-direction: column;
  }
}
:host::ng-deep .mat-tab-label,
:host::ng-deep .mat-tab-label-active {
  font-family: "Eurostile BQ";
  color: #ffffff !important;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  font-style: normal;
  height: auto !important;
  width: auto;
  max-width: 100px;
  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 19px;
  }
}

:host::ng-deep .mat-tab-label,
:host::ng-deep .mat-tab-label-content {
  white-space: normal !important;
}
:host::ng-deep .mat-tab-label {
  @media (min-width: 1024px) {
    min-height: 50px;
    max-height: 150px;
    margin-bottom: 24px;
  }
}

:host::ng-deep .mat-ink-bar {
  background: linear-gradient(
    270deg,
    #00d18c 13.03%,
    rgba(3, 184, 124, 0) 101.86%
  ) !important;
  height: 2px !important;
  bottom: -5px !important;
  @media (min-width: 1024px) {
    height: 6px !important;
    top: 50px;
  }
}

:host::ng-deep .mat-tab-group {
  @media (min-width: 1024px) {
    flex-direction: row !important;
  }
}
:host::ng-deep .mat-tab-header {
  @media (min-width: 1024px) {
    width: 18%;
  }
}
:host::ng-deep .mat-tab-body-wrapper {
  @media (min-width: 1024px) {
    border-left: 1px solid #ffffff;
    padding-left: 20px;
    width: 90% !important;
    margin-right: 10%;
  }
}

:host::ng-deep
  .mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  display: none !important;
}

:host::ng-deep .mat-tab-list {
  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }
}

mat-expansion-panel {
  background: transparent;
  box-shadow: none !important;
  border-radius: 0px !important;
  ::ng-deep .mat-expansion-panel-header-description,
  ::ng-deep .mat-expansion-indicator::after {
    color: rgba(0, 255, 148, 0.87);
  }
  mat-expansion-panel-header {
    background-color: #222222 !important;
    margin-bottom: 24px;
    height: 48px;
    border-radius: 0px;

    mat-panel-title {
      font-style: normal !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      text-align: left;
    }
  }
}

