.fullSection {
  padding-left: 20px;
  padding-right: 20px;
}

.title-primary {
  font-weight: 500;
  font-size: 84px;
  line-height: 18px;
  text-align: center;
  text-transform: none !important;
}
.title-tertiary {
  text-transform: none !important;
}

h3 {
  font-family: "Helvetica LT Std";
}

.separator-min {
  width: auto;
}
