<ion-content class="background-black">
  <a href="/"><img class="logo" src="./assets/img/becks-logoverde.svg" alt="logo"></a>
  <div class="fullSection background-black padding-logo">
    <div class="content-terms-priv font-terms">
      <h1 class="title-primary"> Términos y condiciones </h1>
      <h2 class="title-tertiary" >Primera Experiencia Beck's Society </h2>
      <h2 class="title-tertiary" >Becks Society Gallery en Feria del Millon </h2>
      <div class="separator-min">&nbsp;</div>

      <h3>
        Definiciones:
      </h3>
      <p>
        Becks Society: hace referencia a todos los usuarios que ingresen sus datos en la landing page Becks, desde ese momento se vuelven miembros de la comunidad Becks Society y mes a mes tendrán la oportunidad de vivir diferentes experiencias que ofrece la marca.
      </p>
    <ol class="or-list">
      <li>
        <h3>
        Identificación de la marca o producto
        </h3>
        <p>
          Cerveza Becks
        </p>
      </li>
      <li>
        <h3>
          Identificación del incentivo que se ofrece indicando su cantidad y calidad
        </h3>
        <p>
          La Feria del millón es la feria de arte emergente más importante del país.  Propone convertirse en una plataforma de artistas emergentes que, a su vez, incentive al público a mirar a tantos artistas que quieren darse a conocer y vivir de lo que mejor hacen. Este año la feria será un recorrido virtual de arte que se realizará del ocho (8) al dieciocho (18) de Octubre de 2020 en la página web <a target="_blank" href="https://www.feriadelmillon.com.co/" class="link-terms">www.feriadelmillon.com.co</a>
        </p>
        <p>
          La marca Beck's pondrá a disposición del total de miembros de la Becks Society, comunidad de seguidores que podrán acceder a la  “Becks Society Gallery” en la Feria del Millón del nueve (9) al dieciocho (18) de Octubre de 2020. “Becks Society Gallery” es un espacio dentro de la feria en donde solo podrán ingresar miembros de la Becks Society.
        </p>
        <p>
          En este espacio Becks los usuarios podrán ver y comprar obras de arte exclusivas que no están disponibles en otro espacio de Feria del millón y el precio de las obras tendrá un precio alrededor a un  (1) millón de pesos. El precio de cada obra variará y será a discreción de cada artista.
        </p>
      </li>
      <li>
        <h3>
          ¿Quién puede participar?
        </h3>
        <ol>
          <li>
            <p>Todas las personas naturales mayores de edad.</p>
          </li>
          <li>
           <p>residan en Colombia y términos y condiciones.</p>
          </li>
          <li>
            <p>cumplan con todos los requisitos estipulados en el presente documento.</p>
          </li>
          <li>
            <p>Ser miembro de Becks Society.</p>
          </li>
        </ol>
      </li>
      <li>
        <h3>
          Mecánica general de la actividad:
        </h3>
      </li>
        <p>
          Para acceder a la “Sala de Arte Beck’s” en la Feria del Millón que se realizara en la página web <a target="_blank" href="https://www.feriadelmillon.com.co/" class="link-terms">www.feriadelmillon.com.co</a> del 9 de Octubre al 18 de Octubre del 2020 la mecánica es la siguiente:
        </p>
        <ol>
          <li>
            <p>
             Accediendo desde la landing page <a target="_blank" href="https:/www.becksociety.com.co/" class="link-terms">www.becksociety.com.co</a> 
            </p>
          </li>
          <li>
            <p>
             Accediendo desde la pagina web <a target="_blank" href="https://www.feriadelmillon.com.co/" class="link-terms">www.feriadelmillon.com.co</a>
            </p>
          </li>
        </ol>

      <li>
        <h3>
          Registro 
        </h3>
      </li>
      <p class="link-terms">
        Landing Page Becks Society 
      </p>
        <p>
          Ingresar a la landing page www.becksociety.com.co. 
        </p>
        <p>
        Si el usuario no se ha registrado previamente, la información requerida para registrarse es la siguiente:
        </p>
   
          <p>
            • Nombre.
          </p>
   
          <p>
            • Apellido.
          </p>
       
          <p>
            • Sexo.
          </p>
  
          <p>
            • Número de Celular.
          </p>
     
          <p>
            •	Correo Electrónico.
          </p>

          <p>
            Al diligenciar la información es necesario aceptar los Terminos y Condiciones y la Politica de privacidad  chuleando el re cuadro de esta manera aceptando y completando el registro. Desde ese momento eres miembro de la Beck’s Society. 
          </p>
          <p>
            Una vez registrado el usuario será notificado por un mensaje en la misma página que puede acceder a la Becks Society Gallery en la Feria del Millón y encontrara un botón que lo dirige a <a target="_blank" href="https://www.feriadelmillon.com.co/becks/" class="link-terms">www.feriadelmillon.com.co/becks/</a>
          </p>

          <p class="link-terms">Página Web Feria del Millon</p>
          <p>
            Si el participante ingresa a través de feriadelmillon.com.co en el recorrido encontrará el espacio de Becks llamado Becks Society Gallery al cual podrá ingresar de inmediato si ya está previamente registrado en Becks.
          </p>
          <p>
            Si el usuario no se encuentra registrado sera dirigido a la página de becksociety.com.co en donde deberá seguir el proceso descrito en el punto anterior.
          </p>
      <li>
        <h3>
        Becks Society Gallery en Feria del Millón
        </h3>
        <p>
          Una vez registrado, el miembro de la Becks Society en el recorrido de la Feria del Millón virtual que tiene lugar en <a target="_blank" href="https://www.feriadelmillon.com.co/" class="link-terms">www.feriadelmillon.com.co</a> encontrara un espacio de Becks al cual podrá ingresar dando click en el botón especificado.
        </p>
        <p>
          La capacidad para esta experiencia es ilimitada y podrá ingresar cualquier usuario que ingrese sus datos en la landing page Becks mencionada en el paso anterior.
        </p>
        <p>
          En este espacio Becks los usuarios podrán ver y comprar obras exclusivas que no están disponibles en otro espacio de Feria del millón y el precio de las obras tendrá un precio menor a un (1) millón de pesos. El precio de cada obra variará y será a discreción de cada artista.
        </p>
        <p>
          Una vez se termine el tiempo de la feria, es decir el dieciocho (18) de Octubredel 2020, se deshabilitará el acceso y ya no estará disponible. 
        </p>
      </li>
      
        <h3>
         Pago y Entrega de las Obras
        </h3>
        <p>
          El pago de las obras es directamente realizado a Feria del Millón, ni Bavaria & CIA S.C.A ni Becks tendrá plataforma de pago para recibir dinero del consumidor.
        </p>
        <p>
          La entrega de la obra es directamente con la Feria del Millón, ni Bavaria & CIA S.C.A ni Becks se hace responsable de esta entrega. Becks te da la exclusividad de acceder a una sala privada en la Feria, mas NO se encarga de la ejecución de la compra. 
        </p>
        <li>
        <h3>
          Selección de ganadores y notificación
        </h3>
        <p>
          Son considerados ganadores todos los participantes que realizaron lo mencionado en el capítulo IV punto 2,  es decir registrarse en la landing page Becks <a target="_blank" href="https:/www.becksociety.com.co/" class="link-terms">www.becksociety.com.co</a>  y asistan a la sala virtual “Becks Society Gallery” en la Feria del Millón del 9 de Octubre al 18 de Octubre de 2020. Una sala privada con capacidad ilimitada para los participantes exclusivos Becks. 
        </p>
        <p>
          Al registrarte en el landing page www.becksociety.com.co dentro de la misma página aparecerá un mensaje confirmando que ya eres usuario miembro de la Becks society y ahora puedes vivir la experiencia de la feria del millón. 
        </p>
        <br>
      </li>
      <li>
        <h3>
          Vigencia de la actividad:
        </h3>
        <p>
          Actividad válida del 9 de Octubre 2020 al 18 de Octubre 2020.
        </p>
      </li>
      <li>
        <h3>
          Causales de exclusión:
        </h3>
        <p>
          Al aceptar estos términos y condiciones, el participante declara de manera expresa que su participación en la actividad será de buena fe, que aprueba el uso de sus mensajes y su nombre por parte de BAVARIA & CIA S.C.A. en cualquier comunicación que se realice antes, durante y después de la actividad en mención.
        </p>
        <br>

        <p>
          Los participantes deberán abstenerse de realizar cualquiera de las acciones descritas a continuación:
        </p>
        <ul class="un-list-1">
          <li>
            Realizar cualquier práctica abusiva, restrictiva, de acoso o amenaza en contra de los demás participantes o terceros.
          </li>
          <li>
            Publicar, transmitir, facilitar la publicación o transmisión de contenidos obscenos, pornográficos, difamatorios, abusivos, ofensivos, profanos o que en forma alguna viole derechos de terceros.  
          </li>
          <li>
            Publicar, transmitir, facilitar la publicación o transmisión de palabras soeces, groseras o que puedan difamar o agredir otras poblaciones de nuestro país o sus gentes.
          </li>
          <li>
            Publicar, transmitir, facilitar la publicación o transmisión de contenidos que involucren menores de edad.
          </li>
          <li>
            Utilizar la actividad o la plataforma empleada con fines ilegales.
          </li>
          <li>
            Utilizar la actividad o la plataforma empleada para la obtención de datos o información de terceros.
          </li>
          <li>
            Crear o enviar correo electrónico no deseado (spam) o cualquier URL a otros participantes o usuarios de las redes sociales Twitter o Facebook.
          </li>
          <li>
            Interferir o intentar interferir con el funcionamiento adecuado del sitio de la actividad.
          </li>
          <li>
            Violar leyes de cualquier jurisdicción.
          </li>
          <li>
            Utilizar medios automatizados diferentes a los normalmente utilizados y ya autorizados, para acceder al sitio de la actividad con el fin de defraudar la misma, obtener ventaja sobre otros participantes o cualquier otro fin no legítimo
          </li>
          <li>
            Interferir o intentar interferir con el funcionamiento adecuado del sitio de la actividad.
          </li>
        </ul>
        <p>
          Serán excluidos de la participación en la actividad aquellos participantes que realicen cualquiera de las actividades no permitidas y enunciadas anteriormente, o cuando existan reclamaciones de terceros por violación de derechos de autor o propiedad intelectual al respecto de las publicaciones realizadas por el participante.
        </p>
      </li>
      <li>
        <h3>
          Condiciones y Restricciones Generales 
        </h3>
        <ul class="un-list-1">
        <li>
          Válido únicamente para mayores de edad, residentes en el territorio de la República de Colombia.
        </li>
        <li>
          Becks no se hace cargo de daños o estado de la obra de arte al llegar al consumidor, ya que la compra es del consumidor directamente con la Feria del Millón.
        </li>
        <li>
          No pueden participar y no son elegibles como ganadores los empleados directos de BAVARIA & CIA S.C.A./ABInBev y de sus sociedades filiales en Colombia, la Fundación Bavaria y los empleados contratados a través de outsourcing para estas mismas compañías o entidades, y en ambos casos, sus cónyuges o compañeras(os) permanentes, sus familiares directos hasta el cuarto grado de consanguinidad, segundo grado de afinidad y único civil.
        </li>
        <li>
          BAVARIA & CIA S.C.A. podrá descalificar a cualquier participante de manera unilateral y sin necesidad de justificar su decisión, cuando considere que aquel ha incumplido la mecánica de participación o que ha alterado y/o falsificado en forma alguna los materiales que hacen parte de la actividad.
        </li>
        <li>
          BAVARIA & CIA S.C.A. no se hace responsable por la integridad física o por la propiedad de los participantes o de los ganadores, cuando éstas resulten afectadas con ocasión de la participación en el concurso o en relación con cualquier evento derivado del disfrute de los premios aquí otorgados. Los concursantes reconocen y aceptan lo anterior y, por tanto, liberan a BAVARIA & CIA S.C.A. de cualquier reclamación judicial o extrajudicial que pudiere derivarse de tales hechos.
        </li>
        <li>
          Para mayor información sobre la promoción, condiciones y requisitos para la entrega de los premios y cantidad de premios disponibles, ingresar a  <a target="_blank" href="https:/www.becksociety.com.co/" class="link-terms">www.becksociety.com.co</a>   y revisar los términos y condiciones.
        </li>
        </ul>
      </li>
      <li>
        <h3>
          Protección de Datos Personales
        </h3>
        <ul class="un-list-1">
        <li>
          El participante declara que la información suministrada por él, y por sus referidos, incluyendo la relacionada con sus datos personales, es cierta, fidedigna y actualizada.
        </li>
        <li>
          El participante declara y acepta el tratamiento y el uso de sus datos por parte de BAVARIA & CIA S.C.A. conforme a las finalidades descritas en la política de tratamiento de datos personales que rige la presente actividad.
        </li>
        <li>
          En virtud de lo estipulado en la Ley 1581 de 2012, si el usuario desea darse de baja de esta plataforma, solicitar alguna modificación, corrección, actualización o supresión de todos los datos personales que nos ha proporcionado, dejar de recibir información comercial, así como contactarse con nosotros por cualquier otra causa, puede enviar un correo <a href="mailto:protecciondedatos@ab-inbev.com." class="link-terms">protecciondedatos@ab-inbev.com.</a>
        </li>
        </ul>

      </li>
    </ol>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
