<ion-content class="background-black">
  <a href="/"><img class="logo" src="./assets/img/becks-logo-2.svg" alt="logo"></a>
  <div class="fullSection content-flex-all-center flex-direction-column background-black padding-logo">
    <h1> Términos y condiciones </h1>
    <h2> Waiting List Beck's Society </h2>
    <ol>
      <li>
        <h3>
        Identificación de la marca o producto
        </h3>
        <p>
          Cerveza Becks
        </p>
      </li>
      <li>
        <h3>
          Identificación del incentivo que se ofrece indicando su cantidad y calidad
        </h3>
        <p>
          Desde el 21 de Septiembre hasta el 9 de Octubre de 2020 la marca Beck's pondrá a disposición de los consumidores la oportunidad de hacer parte de la "Beck's Society". Una comunidad de seguidores que podrán acceder a distintas experiencias que la marca les brindara mes a mes. 
        </p>
      </li>
      <li>
        <h3>
          ¿Quién puede participar?
        </h3>
        <p>
          Todas las personas naturales mayores de edad que residan en Colombia y cumplan con todos los requisitos estipulados en los presentes términos y condiciones.
        </p>
      </li>
      <li>
        <h3>
          Mecánica general de la actividad:
        </h3>
        <p>
          A partir del 21 de Septiembre hasta el 9 de Octubre la marca Beck’s comenzará a buscar generar expectativa sobre la cerveza Beck's. En los perfiles , historias y los instagram live de los influencers de Becks y las redes sociales oficiales de la Marca comenzará a aparecer una llave de Beck’s  junto a la opción del ‘swipe up’ para anotarse en la waiting list. Esta waiting list será una página únicamente de registro.
        </p>
        <p>
          Los usuarios durante el 21 de Septiembre hasta el 9 de Octubre de 2020 pueden ser parte de la waiting list y llegar a la landing page de 2 maneras distintas:
        </p>
        <ol>
          <li>
            <p>
            A través del ‘swipe up’ en los historias, perfiles y instagram live de los influencers y las redes sociales de la marca Beck's que te arrojan en el landing page de becks donde para registrarte y hacer parte de la waiting list debes ingresar nombre y apellido, fecha de nacimiento y cédula.
            </p>
          </li>
          <li>
            <p>
              Entrando a la landing page www.becksociety.com.co donde te podrás registrar con nombre y apellido, fecha de nacimiento y cédula.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h3>
          Selección de ganadores y notificación
        </h3>
        <p>
          Serán considerados parte de la Beck's Society todas las personas que durante el 21 de Septiembre hasta el 9 de Octubre de 2020 se registraron en la landing page Beck's  www.becksociety.com.co. 
        </p>
      </li>
      <li>
        <h3>
          Vigencia de la actividad:
        </h3>
        <p>
          Actividad válida del 21 de Septiembre al 9 de Octubre de 2020. 
        </p>
      </li>
      <li>
        <h3>
          Causales de exclusión:
        </h3>
        <p>
          Al aceptar estos términos y condiciones, el participante declara de manera expresa que su participación en la actividad será de buena fe, que aprueba el uso de sus mensajes y su nombre por parte de BAVARIA & CIA S.C.A. en cualquier comunicación que se realice antes, durante y después de la actividad en mención.
        </p>
        <p>
          Los participantes deberán abstenerse de realizar cualquiera de las acciones descritas a continuación:
        </p>
        <ul>
          <li>
            <p>
              Realizar cualquier práctica abusiva, restrictiva, de acoso o amenaza en contra de los demás participantes o terceros.
            </p>
          </li>
          <li>
            <p>
              Publicar, transmitir, facilitar la publicación o transmisión de contenidos obscenos, pornográficos, difamatorios, abusivos, ofensivos, profanos o que en forma alguna viole derechos de terceros.
            </p>
          </li>
          <li>
            <p>
              Publicar, transmitir, facilitar la publicación o transmisión de palabras soeces, groseras o que puedan difamar o agredir otras poblaciones de nuestro país o sus gentes.
            </p>
          </li>
          <li>
            <p>
              Publicar, transmitir, facilitar la publicación o transmisión de contenidos que involucren menores de edad. 
            </p>
          </li>
          <li>
            <p>
              Utilizar la actividad o la plataforma empleada con fines ilegales.
            </p>
          </li>
          <li>
            <p>
              Utilizar la actividad o la plataforma empleada para la obtención de datos o información de terceros.
            </p>
          </li>
          <li>
            <p>
              Crear o enviar correo electrónico no deseado (spam) o cualquier URL a otros participantes o usuarios de las redes sociales Twitter o Facebook.
            </p>
          </li>
          <li>
            <p>
              Interferir o intentar interferir con el funcionamiento adecuado del sitio de la actividad.
            </p>
          </li>
          <li>
            <p>
              Violar leyes de cualquier jurisdicción.
            </p>
          </li>
          <li>
            <p>
              Utilizar medios automatizados diferentes a los normalmente utilizados y ya autorizados, para acceder al sitio de la actividad con el fin de defraudar la misma, obtener ventaja sobre otros participantes o cualquier otro fin no legítimo.
            </p>
          </li>
          <li>
            <p>
              Interferir o intentar interferir con el funcionamiento adecuado del sitio de la actividad	 
            </p>
          </li>
        </ul>
        <p>
          Serán excluidos de la participación en la actividad aquellos participantes que realicen cualquiera de las actividades no permitidas y enunciadas anteriormente, o cuando existan reclamaciones de terceros por violación de derechos de autor o propiedad intelectual al respecto de las publicaciones realizadas por el participante.
        </p>
      </li>
      <li>
        <h3>
          Condiciones y Restricciones Generales
        </h3>
        <p>
          Válido únicamente para mayores de edad, residentes en el territorio de la República de Colombia.
        </p>
      </li>
      <li>
        <h3>
          Protección de Datos Personales
        </h3>
        <ul>
          <li>
            <p>
              El participante declara que la información suministrada por él, y por sus referidos, incluyendo la relacionada con sus datos personales, es cierta, fidedigna y actualizada.
            </p>
          </li>
          <li>
            <p>
              El participante declara y acepta el tratamiento y el uso de sus datos por parte de BAVARIA & CIA S.C.A. conforme a las finalidades descritas en la política de tratamiento de datos personales que rige la presente actividad.
            </p>
          </li>
          <li>
            <p>
              En virtud de lo estipulado en la Ley 1581 de 2012, si el usuario desea darse de baja de esta plataforma, solicitar alguna modificación, corrección, actualización o supresión de todos los datos personales que nos ha proporcionado, dejar de recibir información comercial, así como contactarse con nosotros por cualquier otra causa, puede enviar un correo protecciondedatos@ab-inbev.com.
            </p>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</ion-content>
