::ng-deep mat-icon:active {
  font-family: "Material Icons" !important;
}

.button-width {
  width: 316px !important;
  border-radius: 16px 0px 16px 0px;
}

.separator-login {
  margin-top: 18px;
  height: 1px;
  width: 45%;
  border: 1px solid #6f6f6f;
}

.separator-box {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.separator-o {
  color: #6f6f6f;
  padding: 9px;
  font-weight: bold;
}

.url-hyper {
  text-decoration: underline #ffffff;
  margin-bottom: 15px;
  width: 100%;
}
