.fb-button {
  background-color: #2f487c;
  margin-top: 25px;
  width: 316px;
}
.fb-img {
  background: url("../../../../../assets/icon/FB-Frame.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px !important;
  height: 32px !important;
}
