.margin-button-top {
  margin-top: 68px;
}

.becks-btn-primary,
.button-disabled,
.button-disabled:hover,
.button-disabled:active {
  padding-left: 30px;
  @media (min-width: 0px) and (max-width: 768px) {
    background-position-x: 10px;
    &:hover {
      background-position-x: 7px;
    }
  }
  @media (min-width: 769px) {
    background-position-x: 10px;
    &:hover {
      background-position-x: 7px;
    }
  }
}
