.margin-top-letter {
  margin-top: 14px;
  @media (min-width: 0px) and (max-width: 768px) {
    display: none;
  }
}
.image-size-profile {
  @media (min-width: 0px) and (max-width: 768px) {
    width: 78px;
    height: 78px;
  }
  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.container {
  padding-top: 8px;

  @media (min-width: 768px) {
    padding-top: 18px;
  }
}
.background-color-profile {
  @media (min-width: 768px) {
    background-color: #141414;
  }
}
