.red-color {
  color: #ff0c3e !important;
}

.orange-color {
  color: #ff720c !important;
}

.green-color {
  color: #038259 !important;
}

.container-exp {
  margin-left: 23px;
  margin-top: 24px;
  max-width: 90%;
  justify-content: center;
}

.margin-top {
  margin-top: 24px;
}
