.seccion-tabs {
  backdrop-filter: blur(10px);
  min-height: 100%;
  width: 100%;
}

::ng-deep .mat-tab-label {
  font-family: "Eurostile BQ";
  color: #ffffff !important;
  font-size: 11px;
}

::ng-deep .mat-ink-bar {
  background: rgb(0, 209, 140);
  background: linear-gradient(
    90deg,
    rgba(0, 209, 140, 0) 0%,
    rgba(0, 209, 140, 0.5018382352941176) 41%,
    rgba(0, 209, 140, 1) 100%
  );
}
