.container-component {
  min-width: 100%;
  margin-top: 16px;
  @media (min-width: 768px) {
    width: 40%;
  }
}

.div-static {
  width: 33.3%;
  min-height: 50px;
}

.div-static-center {
  width: 33.4%;
  min-height: 50px;
}
.margin-section {
  margin-top: 5px;
}
