.recovery-section {
  background: #121212;
  color: #ffffff;
  padding-top: 108px;
}

.title-secondary {
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 13px !important;
  line-height: 50px !important;
}

.recovery-icon,
.logo-2 {
  position: relative !important;
}
.no-padding {
  padding: 0px;
  ion-row,
  ion-col {
    padding: 0px;
  }
}

.margin-top-button {
  margin: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo-2 {
    display: none;
  }
}
@media (min-width: 769px) {
  app-header {
    visibility: hidden;
  }
  .logo-2 {
    margin-bottom: 40px;
  }
}
