@font-face {
    font-family: 'Eurostile';
    src:  url('../assets/font/Eurostile.woff') format('woff');
    
}

@font-face {
    font-family: 'Eurostile BQ';
    src:  url('../assets/font/EurostileBQ-BoldExtended.woff') format('woff');
    
}

@font-face {
    font-family: 'Helvetica LT Std';
    src:  url('../assets/font/HelveticaNeueLTStd-BdCn_3.woff') format('woff');
    
}

@font-face {
    font-family: 'Helvetica Neue';
    src:  url('../assets/font/HelveticaNeue.woff') format('woff');
    
}

@mixin title ($font-family, $color, $margin, $font-style, $font-weight, $cut-point-1-fs, $cut-point-1-lh, $cut-point-2-fs, $cut-point-2-lh, $cut-point-3-fs, $cut-point-3-lh) {
    font-family: $font-family !important;
    color: $color !important;
    font-style: $font-style !important;
    font-weight: $font-weight !important;
    text-align: center !important;
    letter-spacing: 0px !important;

    @media (min-width: 0px) and (max-width: 360px) {
        font-size: $cut-point-1-fs !important;
        line-height: $cut-point-1-lh !important;
    }
    @media (min-width: 361px) and (max-width: 768px) {
        font-size: $cut-point-2-fs !important;
        line-height: $cut-point-2-lh !important;
    }

    @media (min-width: 769px) {
        font-size: $cut-point-3-fs !important;
        line-height: $cut-point-3-lh !important;
    }
}

.title-primary {
    @include title('Eurostile BQ', #FFFFFF, 0px, normal, bold, 22px, 23px, 22px, 23px, 44px, 49px);
    text-transform: uppercase;
}

.title-secondary {
    @include title('Eurostile BQ', #FFFFFF, 0px, normal, bold, 16px, 6px, 16px, 6px, 27px, 49px);
    text-transform: uppercase;
}

.title-tertiary {
    @include title('Helvetica LT Std', #FFFFFF, 0px, normal, bold, 22px, 110%, 22px, 110%, 28px, 32px);
    text-transform: uppercase;
}

.title-fourthy {
    @include title('Helvetica LT Std', #FFFFFF, 0px, normal, bold, 16px, 18px, 16px, 18px, 16px, 18px);
}

.font-link {
    font-family: 'Helvetica LT Std';
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
} 

.font-link-social {
    font-family: 'Helvetica LT Std';
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;
    margin-bottom: 14px !important;
}

p{
    color: #FFFFFF;
}

.color-green {
    color: #377F5E;
}

.content-expend {
    .title-exp{
        font-family: 'Helvetica LT Std';
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        color: #FFFFFF;
        margin: 0px;
        text-align: center;
        @media (min-width: 769px) {
            text-align: start;
        }
    }
}

.link-age-gate{
    font-family: 'Helvetica LT Std';
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #FFFFFF;
    @media (min-width: 769px) {
        font-size: 12px;
    }
}

.text-cookies {
    font-family: 'Helvetica LT Std';
    color: #FFFFFF;
}