.splash-screen-style {
    width: 100%!important;
    height: 100% !important;
    background: #000;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .animation-div {
    height: 40% !important;
  }