.container-schedule-component {
  background: #121212;
  width: 100%;
  min-height: 674px;
  a {
    text-decoration: none !important;
  }
  .title-primary {
    font-size: 24px !important;
    line-height: 50px !important;
    margin-bottom: 0;
    top: 0px;
  }
  .calendar-title {
    @media (min-width: 0px) and (max-width: 600px) {
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 110% !important;
      position: absolute;
      top: 30px;
    }
  }
  .separator-white {
    width: 80px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
    @media (min-width: 0px) and (max-width: 768px) {
      width: 74px;
      height: 4px;
      border: 2px solid #ffffff;
      position: absolute;
      top: 60px;
    }
  }
  .calendar {
    @media (min-width: 0px) and (max-width: 768px) {
      margin-top: 60px;
    }
    @media (min-width: 600px) {
      width: 800px;
      height: 460px;
      background: #171717;
      margin-top: 80px;
      padding: 30px 0;
    }

    .title-secondary {
      font-weight: 500 !important;
      font-size: 40px !important;
      line-height: 50px !important;
    }

    .btn {
      width: 20px;
      height: 20px;
      background: transparent;
      position: absolute;
      margin-top: 150px;
      span {
        width: 20px;
        height: 20px;
      }
    }
    .btn-right {
      margin-left: 760px;
      transform: rotate(180deg);
    }
    .btn-left {
      margin-left: 20px;
    }
    .left-arrow-icon {
      top: 0 !important;
      left: 0 !important;
    }
    mat-calendar {
      @media (min-width: 601px) {
        width: 320px;
        height: 300px !important;

        ::ng-deep .mat-calendar-previous-button {
          visibility: hidden;
        }
        ::ng-deep .mat-calendar-next-button {
          visibility: hidden;
        }
      }
      @media (max-width: 600px) {
        width: 300px;
        height: 316px !important;

        ::ng-deep .mat-calendar-previous-button {
          position: absolute !important;
          left: 60px !important;
          transform: translateY(-10px) !important;
        }
        ::ng-deep .mat-calendar-next-button {
          position: absolute !important;
          right: 60px !important;
          transform: translateY(-10px) !important;
        }
      }
    }
    .month1 {
      margin-left: 50px !important;
      margin-right: 50px !important;
    }
    ::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator {
      color: #a9d3ab;
      font-family: "Helvetica LT Std" !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 14px !important;
      line-height: 22px !important;
    }

    ::ng-deep
      .mat-calendar-body-disabled
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      color: #3c3844 !important;
    }
    ::ng-deep .mat-calendar-table-header {
      color: #ffffff;
      font-family: "Helvetica LT Std" !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 14px !important;
      line-height: 22px !important;
    }
    ::ng-deep .mat-calendar-body-selected {
      border: 2px solid #62f8b2;
      box-sizing: border-box;
      filter: drop-shadow(0px 0px 3.5px rgba(98, 248, 178, 0.87));
      background: transparent;
    }
    ::ng-deep.special-date {
      background: url("../../../../../assets/icon/highlight-icon.svg");
      background-position: top;
      background-size: 5px;
      background-repeat: no-repeat;
      background-position-y: 7px;
    }
    ::ng-deep.mat-calendar-body-label {
      visibility: hidden !important;
    }
    ::ng-deep.mat-calendar-body-label[colspan="7"] {
      display: none;
    }
    ::ng-deep.mat-calendar-arrow {
      display: none;
    }
    ::ng-deep .mat-calendar-period-button {
      font-family: "Eurostile BQ";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-left: 25% !important;
      color: #ffffff;
      cursor: initial;
    }
  }
  .min-height {
    @media (min-width: 0px) and (max-width: 600px) {
      min-height: 105vh;
    }
  }
  .schedule {
    background: transparent;
    width: 362px;
    height: 550px;
    margin-left: 16px;
    padding: 16px;
    @media (max-width: 600px) {
      padding: 25px;
      width: 100%;
      height: auto;
    }
    .title-secondary {
      font-style: normal !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 36px !important;
      margin: 0px !important;
      text-align: left !important;
      justify-content: left !important;
    }
    .title-tertiary {
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 20px !important;
      line-height: 32px !important;
      margin: 0px !important;
      text-transform: capitalize;
      color: #9590a0;
      text-align: left !important;
      justify-content: left !important;
    }
    .schedule-over {
      width: 100%;
      height: 455px;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: 600px) {
        text-align: center;
        // height: 175px;
        height: auto;
        overflow-y: hidden;
      }
    }
    // styles for events in desktop
    .schedule-body {
      a {
        text-decoration: none;
      }
      .card-schedule {
        width: 310px;
        height: 144px;
        background: #171717;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 24px 20px;
        margin-top: 16px;
        position: relative;
        // border-left: 8px solid #038259;

        .title-card {
          color: #ffffff !important;
          max-height: 60px;
          text-overflow: ellipsis;
          overflow-y: hidden;
        }
        .hour-card {
          font-size: 16px !important;
          line-height: 24px !important;
        }
        .width-box {
          width: 200px;
          @media (min-width: 0px) and (max-width: 600px) {
            width: 175px;
          }
        }
        .circle-icon {
          width: 48px;
          height: 48px;
          border-radius: 100%;
          position: relative;
          left: 30px;
          top: 30px;
        }

        .img-exp {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px outset rgba(98, 248, 178, 0.87);
          box-sizing: border-box;
        }

        .guest-card {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          margin-top: 20px;
          margin-right: 8px;
          background: #ffffff;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #4a4a4a;
      border-radius: 8px;
      background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb {
      background: #038259;
      border-radius: 8px;
      background-clip: padding-box;
    }

    // styles for event cards in mobile
    .card-event {
      height: 180px;
      width: 100%;

      .lateral-month {
        width: 37px;
        min-height: 180px;
        height: auto;
        background: #121212;
      }
      .vertical_dotted_line {
        height: 100px;
        margin: 10px 16px;
      }
      .title-tertiary {
        font-size: 18.72px !important;
        line-height: 22px !important;
        color: #09ce8f;
        text-transform: capitalize;
        margin: 0 !important;
      }
      .day-event {
        color: #ffffff;
        background: #303030;
        height: 34px;
        width: 37px;
        border-radius: 8px 0px 8px 0px;
        padding-top: 6px;
      }
      .day-event,
      .title-tertiary {
        text-align: center !important;
      }
      .img-event {
        width: 75%;
        height: 165px;
        margin-left: 20px;
        border-radius: 4px;
        background-image: linear-gradient(
          90.32deg,
          #121212 6.96%,
          rgba(44, 47, 54, 0) 99.66%
        );
        background-position: center;
        background-size: cover;
        mix-blend-mode: normal;
        position: relative;
        .event-description {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          margin: auto;
          .title-secondary {
            font-style: normal !important;
            font-weight: normal !important;
            text-transform: capitalize !important;
            font-size: 11px !important;
            line-height: 20px !important;
            letter-spacing: 0.15px !important;
            margin: 0 !important;
            height: auto;
            max-height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
          }
          .title-tertiary {
            font-style: normal !important;
            font-weight: normal !important;
            font-size: 13.78px !important;
            line-height: 128.3% !important;
            color: #ffffff;
            margin: 0 !important;
          }
          .title-secondary,
          .title-tertiary {
            text-align: left !important;
            margin-left: 14px !important;
          }
          .card-button {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

.becks-btn-primary,
.becks-btn-soon,
.becks-btn-sold,
.becks-btn-reserved,
.becks-btn-free {
  font-size: 8px;
  width: 161px;
  height: 24px;
  min-height: 24px;
  background-size: 12px;
  border-radius: 8px 0px 8px 0px;
  background-position-y: 6px;
  background-position-x: 20px;
  margin-left: 50px;
  margin-top: 10px;

  @media (min-width: 0px) and (max-width: 768px) {
    width: 161px !important;
    margin-left: 0px;
    &:active,
    &:hover {
      background-position-y: 3px !important;
    }
  }
  @media (min-width: 769px) {
    &:active,
    &:hover {
      background-position-y: 3px;
      background-position-x: 17px;
    }
  }
}
// text of the buttons
.reserve-exp:after {
  content: "RESERVADA";
}
.empty-exp:after {
  content: "AGOTADA";
}
.normal-exp:after {
  content: "PARTICIPAR";
}
.soon-exp:after {
  content: "PRÓXIMAMENTE";
}
// border cards
.border-normal {
  border-left: 8px solid #038259;
}
.border-sold {
  border-left: 8px solid #616161;
}
.border-soon {
  border-left: 8px solid #ee991a;
}
.border-reserved {
  border-left: 8px solid #000000;
}
.border-free {
  border-left: 8px solid #ffffff;
}
// calendar styles for mobile screen
// .calendar-container {
//   @media (max-width: 600px) {
//     position: relative;
//     margin-top: 60px;
//   }
// }
// .btn-card {
//   width: 100%;
//   height: 55px;
//   transform: rotate(0deg);
//   position: relative;
//   margin-bottom: 20px;
//   transition: all 0.4s;
//   z-index: 10;
//   &:focus {
//     outline: none !important;
//   }
// }
// :host::ng-deep .mat-icon-button {
//   width: 45px;
//   height: 45px;
// }
// .drop-container {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   flex: 1;
//   .title-tertiary {
//     font-size: 16px !important;
//     line-height: 24px !important;
//     margin: 0;
//     text-transform: none;
//   }
// }

// styles for announcer amount component
:host::ng-deep .announcer-container,
:host::ng-deep .soon-text,
:host::ng-deep .quantity-text {
  width: 104px !important;
  height: 104px !important;
}
:host::ng-deep .soon-text,
:host::ng-deep .quantity-text {
  font-size: 8px !important;
  top: 20px !important;
  right: 16px !important;
  text-align: center;
}
:host::ng-deep .soon-text {
  padding: 3px 0px !important;
}
:host::ng-deep .quantity-text {
  padding: 0px 0px !important;
}
