<ion-content>
  <div class="backgroud-img-confirm content-flex-all-center flex-direction-column">
    <h1 class="title-primary primary">AHORA ESTÁS</h1>

    <p class="title-primary secondary">
      oficialmente en la lista de espera<br>¡Atento!
    </p>

    <div>
      <ion-button
        block="block"
        color="becks"
        class="becks-button margin-button-top"
        routerLink="/principal-page"
      >IR A BECKS</ion-button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>