<ion-content>
  <div class="fullSection content-flex-all-center flex-direction-column content-section-img">
    <div class="logo"></div>
    <h1 class="title-primary primary max-width-title-primary">
      TUS DATOS FUERON ENVIADOS CORRECTAMENTE
    </h1>

    <div>
      <ion-button
        block="block"
        color="becks"
        class="becks-button margin-button-top"
        routerLink="/principal"
      >VOLVER A LA HOME</ion-button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>