<section class="fullSection content-section-step content-flex-all-center flex-direction-column">
  <span class="separator-min">&nbsp;</span>
  <h2 class="title-secondary secondary max-width-title"> Beck's Society </h2>
  <h1 class="title-secondary secondary">
    Es un club exclusivo con capacidad limitada. Sólo siendo miembro podrás vivir experiencias que jamás imaginaste
  </h1>

  <div>
    <ion-grid fixed="fixed">
      <ion-row>
        <ion-col
          sizeXs="12"
          sizeSm="12"
          sizeLg="4"
          sizeXl="4"
          class="col-flex-center">
        <div class="content-flex-all-center flex-direction-column">
          <div class="register"></div>
          <p class="title-tertiary">
            Regístrate en la waiting list
          </p>
        </div>
        </ion-col>

        <ion-col
          sizeXs="12"
          sizeSm="12"
          sizeLg="4"
          sizeXl="4"
          class="col-flex-center">
        <div class="content-flex-all-center flex-direction-column">
          <div class="customer"></div>
          <p class="title-tertiary">
            Espera a ser aceptado
          </p>
        </div>
        </ion-col>

        <ion-col
          sizeXs="12"
          sizeSm="12"
          sizeLg="4"
          sizeXl="4"
          class="col-flex-center">
        <div class="content-flex-all-center flex-direction-column">
          <div class="surface"></div>
          <p class="title-tertiary">Recibe tu código único e ingresa</p>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</section>