.header {
  position: absolute !important;
  width: 100%;
  padding: 30px 24px;
  @media (min-width: 0px) and (max-width: 768px) {
    top: 0;
  }
  @media (min-width: 769px) {
    top: 100px;
  }
  .return-btn {
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @media (min-width: 769px) {
      display: none;
    }
  }
  .cancel-btn {
    position: absolute;
    background: transparent;
    width: 30px;
    height: 30px;
    right: 10%;
    @media (min-width: 0px) and (max-width: 768px) {
      display: none;
    }
  }
  .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;

    @media (min-width: 0px) and (max-width: 768px) {
      max-width: 250px;
      .title-secondary {
        font-size: 16px !important;
        line-height: 110% !important;
      }
    }
    @media (min-width: 769px) {
      .title-secondary {
        font-size: 24px !important;
        line-height: 26px !important;
        display: none;
      }
    }
  }
}
