.confirm-section {
  background: #121212;
  color: #ffffff;

  .plane-icon {
    position: relative !important;
    top: 76px;
  }

  .confirm-text {
    margin-top: 106px;
    width: 214px;
    height: 103px;
    font-size: 13.78px !important;
    line-height: 17px !important;
    text-transform: lowercase;
  }
}
.margin-top-button {
  margin-top: 30px;
}
