.MGM {
  background: #141414;
  padding-top: 80px;
  height: auto;
  min-height: 100%;

  .mgm-icon {
    margin-bottom: 30px;
  }

  .separator-becks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
    height: 2px;
    background: rgb(98, 248, 178);
    background: linear-gradient(
      90deg,
      rgba(98, 248, 178, 1) 0%,
      rgba(18, 18, 18, 1) 80%
    );
  }
  .guest_list {
    margin-top: 10px !important;
  }
  p {
    font-family: "Helvetica LT Std";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.15px;
    color: #ffffff;
    margin-top: 10px;
  }
  .guest-card {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 10px 5px;
    background: #ffffff;
  }

  .friend-list {
    .title-fourthy {
      padding-right: 0 !important;
      margin-top: 25px !important;
    }
  }
  ::ng-deep .mat-input-element:disabled {
    color: #ffffff !important;
  }

  .redemp-code {
    width: 196.55px;
    height: 31px;
    border: 2px solid rgba(98, 248, 178, 0.8);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 30px;
    .title-secondary {
      font-style: normal;
      font-weight: 500;
      font-size: 13.28px !important;
      line-height: 16px !important;
      display: flex;
    }
  }

  .redempted-code {
    width: 196.55px;
    height: 31px;
    background: #3c3c3c;
    box-shadow: 0px 0px 3.5px rgba(98, 248, 178, 0.87);
    border-radius: 4px;
    padding: 8px;
    .title-secondary {
      font-style: normal;
      font-weight: bold;
      font-size: 13.28px !important;
      line-height: 16px !important;
      display: flex;
      color: #767676;
    }
  }
}
:host .background-black {
  min-height: 100%;
  position: relative;
  background-color: #141414 !important;
  .title-primary {
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 110%;
    position: absolute;
    margin: auto;
    @media (min-width: 0px) and (max-width: 768px) {
      top: 30px;
    }
    @media (min-width: 769px) {
      display: none;
    }
  }
}

.btn-trash {
  background: transparent;
  :active {
    height: 22px;
    width: 22px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .separator-becks {
    position: absolute;
    top: 60px;
  }
  .temporaly {
    display: none !important;
  }
  .title-secondary {
    font-size: 13px !important;
    line-height: 14px !important;
    width: 268px;
  }
  .fullInput {
    width: 316px;
  }
  .becks-btn-inner {
    display: block;
    margin-left: 190px;
    top: -23px;
  }
  .temporaly {
    display: block;
  }
  .title-fourthy {
    color: #038259;
    font-size: 13.78px !important;
    justify-content: Left !important;
    margin: 0 !important;
    padding-right: 70%;
    width: 316px;
  }
}
@media (min-width: 769px) {
  .background-black {
    background: #121212 !important;
    min-height: 100%;
  }
  .MGM {
    width: 80%;
    min-height: 100vh;
  }
  .separator-becks {
    position: relative;
  }
  .mgm-icon {
    margin: 30px;
  }

  .title-secondary {
    font-size: 18px !important;
    line-height: 19px !important;
    width: 450px;
  }

  .fullInput {
    width: 570px;
  }
  .becks-btn-inner {
    display: block;
    margin-left: 445px;
    top: -23px;
  }
  .title-fourthy {
    color: #038259;
    font-size: 16px !important;
    justify-content: Left !important;
    margin: 0 !important;
    padding-right: 470px;
    width: 570px;
  }
}

.becks-btn-primary,
.button-disabled,
.button-disabled:hover,
.button-disabled:active {
  padding-left: 35px;
  @media (min-width: 0px) and (max-width: 768px) {
    background-position-x: 12px;
    font-size: 11px !important;
  }
  @media (min-width: 769px) {
    background-position-x: 10px;
    &:hover {
      background-position-x: 7px;
    }
  }
}

.separator-friends {
  width: 90%;
  height: 1px;
  background: #c4c4c4;
}
.lateral-padding {
  padding: 0px 30px;
}
