.container {
  height: 90%;
  margin: 5%;
  display: flex;
}

.edit-button {
  background-color: transparent;
  font-family: "Helvetica LT Std";
  color: #ffffff;
  margin-top: 14px;
  font-size: 14px;
  text-align: start;
  @media (min-width: 1367px) {
    font-size: 16px;
  }
}

.separator-line-row {
  height: 1px;
  width: 100%;
  border-top: 0.25px solid #c4c4c4;
  margin-top: 19px;
}

.red-color {
  color: #db4843;
}

.cancel {
  position: absolute;
  margin-left: 380px;
}
