.recovery-section {
  background: #121212;
  color: #ffffff;
  padding-top: 108px;
}

.title-secondary {
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 13px !important;
  line-height: 50px !important;
}

.recovery-icon {
  position: relative !important;
}
.no-padding {
  padding: 0px;
  ion-row,
  ion-col {
    padding: 0px;
  }
}

.margin-top-button {
  margin: 30px;
}

@media (min-width: 769px) {
  .recovery-section {
    background-image: url(./../../../../../assets/img/background-blur.png);
    background-size: cover;
  }
  .padding-form {
    background: rgba(2, 2, 2, 0.7);
    border-radius: 8px;
    width: 507px;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
    backdrop-filter: blur(20px) !important;
  }
  .recovery-icon {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
  .margin-top-button {
    margin: 20px;
    width: 364px !important;
  }
  .title-secondary {
    font-size: 18px !important;
    line-height: 50px !important;
    width: 400px;
  }
  .form-section {
    margin-top: 0px;
  }
  .btn-cancel {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
}
