

.container{  
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 100%, rgba(0,0,0,0.2) 100%),
      url('../../../../../assets//img/bg_desktop_1366x768_latareflejo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    
}

.tittleForm{
    font-family: 'Eurostile BQ';
    font-size: 34px;
    color: #FFFFFF;
    line-height: 40px;
   
}

.subTittleForm{
    font-family: 'Helvetica Neue';
    font-size: 18px;
    color: #FFFFFF;
    line-height: 40px;
   
}