.container-edit-profile {
  min-height: 100%;
  background-color: #171717;
  overflow: auto;
}

.header-div {
  display: flex;
  align-items: center;
  margin-top: 63px;
}

.lateral-div {
  width: 15%;
  display: flex;
  justify-content: center;
}

.center-div {
  width: 70%;
  display: flex;
  justify-content: center;
}

.save {
  color: #038259;
}

.cancel {
  color: white;
}

.margint-top {
  margin-top: 24px;
}

.with-form {
  width: 100px;
  margin-right: 7px;
  @media (min-width: 769px) and (max-width: 1366px) {
    width: 96px;
    margin-right: 12px;
  }
  @media (min-width: 1367px) {
    width: 100px;
    margin-right: 12px;
  }
}

.button-open-file {
  background-color: #038259;
  width: 260px;
  height: 20px;
  margin-top: 10px;
}

.fullInput {
  width: 320px;
  @media (min-width: 769px) and (max-width: 1366px) {
    margin-right: 12px;
  }
  @media (min-width: 1367px) {
    width: 330px;
    margin-right: 12px;
  }
}

.birthayForm {
  @media (min-width: 769px) {
    margin-right: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
}

.margin-left {
  @media (min-width: 769px) {
    margin-left: 0px;
  }
}
