@mixin img-step($background-image, $width, $height) {
  background-image: $background-image;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: $width;
  height: $height;
  margin-top: 65px;
  margin-bottom: 53px;
  @media (min-width: 0px) and (max-width: 720px) {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.separator-min {
  @include img-step(url("../assets/img/rectangle.svg"), 62px, 2px);
}

.register {
  @include img-step(url("../assets/img/register.svg"), 121px, 73px);
}

.surface {
  @include img-step(url("../assets/img/surface.svg"), 121px, 73px);
}

.customer {
  @include img-step(url("../assets/img/customer.svg"), 121px, 73px);
}

.logo {
  width: 140px;
  height: 65.5px;
  position: absolute;
  top: 17px;
  left: 139px;
  z-index: 99;
  margin-top: 0px;
  // @media (min-width: 0px) and (max-width: 360px) {
  // }
  @media (min-width: 0px) and (max-width: 768px) {
    top: 17px;
    left: auto;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }
}

.logo-2 {
  background-image: url("../assets/img/becks-logoblanco.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 150px;
  height: 67px;
  @media (min-width: 0px) and (max-width: 768px) {
    width: 120px;
    height: 51px;
  }
}

.logo-login {
  background-image: url("../assets/img/becks-logoverde.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 150px;
  height: 67px;
}

.titleLogo {
  background-image: url("../assets/img/tittle_profile_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 27.2px;
  height: 33px;
}

.fb-img {
  background-image: url("../assets/icon/FB-Frame.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: start;
  position: relative;
  width: 32px !important;
  height: 32px !important;
}

.social {
  background-image: url("../assets/img/Social.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 165px;
  height: 33px;
}

.img-404 {
  background-image: url("../assets/img/4042.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 928px;
  height: 391px;

  @media (min-width: 0px) and (max-width: 768px) {
    width: 349px;
    height: 147px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 500px;
    height: 211px;
  }

  @media (min-width: 1024px) {
    width: 928px;
    height: 391px;
  }
}

.social-icon {
  width: 28px;
  height: 28px;
  margin: 0px 5px;
}

.recovery-icon {
  background-image: url("../assets/icon/recovery-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  @media (min-width: 0px) and (max-width: 768px) {
    width: 123px;
    height: 81px;
  }
}

.plane-icon {
  background-image: url("../assets/icon/plane-confirm.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  @media (min-width: 0px) and (max-width: 768px) {
    width: 132px;
    height: 104px;
  }
}
.plane-icon {
  background-image: url("../assets/icon/lock-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  @media (min-width: 0px) and (max-width: 768px) {
    width: 90px;
    height: 56px;
  }
}
