//vars
$fg: #00bcd4;
$bg: #673ab7;
$pi: 3.14;

//config
$menu-items: 5;
$open-distance: 105px;
$opening-angle: $pi * 2;

%goo {
  // filter:url('#shadowed-goo');
  // debug
  //background:rgba(255,0,0,0.2);
}

%ball {
  background: transparent;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  margin-left: 72px;
  position: absolute;
  color: white;
  text-align: center;
  //   line-height:65px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-open {
  // display:none;
}

.menu-item {
  @extend %ball;
}

.hamburger {
  $width: 19px;
  $height: 1px;
  width: $width;
  height: $height;
  background: #038259;
  display: block;
  position: absolute;
  top: 50%;
  left: 48%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}

$hamburger-spacing: 8px;

.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}

.hamburger-1.close {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.hamburger-2.close {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.hamburger-3.close {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-open.menu-checked ~ .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }

  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}

.menu-content {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10;
  padding: 20px 5px;

  @media (min-width: 1024px) {
    padding: 0;
    position: inherit;
  }
}

.menu-activo {
  &:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

.menu-mobile {
  @extend %goo;
  z-index: 10;
  $width: 100%;
  $height: 55px;
  position: absolute;
  width: $width;
  height: $height;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;

  @media (min-width: 1024px) {
    display: none;
  }

  .sign-out {
    position: absolute;
    right: 15px;
  }

  .icon-brand {
    position: absolute;
    right: 15px;
  }

  .menu-open.menu-checked ~ .sign-out,
  .menu-open.menu-checked ~ .icon-brand {
    display: none;
  }
}

.menu-item {
  opacity: 0;
  background-color: #000000;

  .name-item {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: "Helvetica LT Std" !important;
    width: 100%;
    text-transform: uppercase;
  }

  .icon-item {
    width: auto;
    height: 25px;
    margin-top: 11px;
  }

  .perfil-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &:hover {
    background: white;
    color: $fg;
  }

  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  border: 2px solid #038259;
  margin-left: 10px;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open.menu-checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open.menu-checked ~ .menu-item {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms+ (100ms * $i);
      transform: translate3d(60px * $i, 0, 0);

      @media (min-width: 414px) {
        transform: translate3d(70px * $i, 0, 0);
      }

      @media (min-width: 768px) {
        transform: translate3d(130px * $i, 0, 0);
      }
    }
  }
}

.sign-out {
  width: 45px;
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
  color: #62f8b2;
  @media (min-width: 1024px) {
    margin-top: 0px;
  }
  .icon-out {
    width: 37px;
    height: 37px;
  }
  .label-out {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    font-family: "Helvetica LT Std" !important;
    width: 100%;
    text-transform: uppercase;
  }
}

.icon-brand {
  padding-top: 7px;
  width: 45px;
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;

  @media (min-width: 1024px) {
    margin-left: 20px;
  }

  .icon-out {
    width: 29px;
    height: auto;
  }

  .label-brand {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    font-family: "Helvetica LT Std" !important;
    width: 100%;
    text-transform: uppercase;
  }
}

.menu-desktop {
  display: none;
  background-color: #171717;
  height: 90px;
  z-index: 10;
  padding: 24px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .container-menu {
    width: 200%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;

    .content-top-bar {
      display: flex;
      list-style: none;

      li {
        margin: 0 5px;
      }

      .menu-item-destkop {
        width: 45px;
        height: 45px;
        display: flex;
        position: relative;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-decoration: none;
        background-color: #000000;
        border-radius: 50%;

        .icon-item {
          width: auto;
          height: 20px;
        }
        .name-item {
          color: #ffffff;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          font-family: "Helvetica LT Std" !important;
          width: 100%;
          text-transform: uppercase;
        }
        .perfil-img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
