.button-width {
  border-radius: 16px 0px 16px 0px;
  @media (min-width: 769px) {
    width: 276 !important;
    height: 44px !important;
  }
}

.becks-btn-primary {
  margin: auto 20px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #ffffff;
}
.error-http {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 5px;
}

@media (min-width: 769px) {
  .content-flex-all-center {
    height: auto;
    justify-content: center;

    .general-row {
      flex-direction: row;
      width: 800px;

      .form-section {
        padding: 20px 10px;
        width: 800px;
        flex-direction: column;
        justify-content: left;

        .fullInput {
          width: 630px;
        }
      }
    }
    .section1 {
      margin-top: 35px;
      justify-content: left !important;
      align-items: flex-start;
    }
    .section2 {
      position: absolute;
      margin: 0px auto auto 450px;
      align-items: flex-start !important;

      p {
        font-family: "Helvetica LT Std";
        font-style: normal;
        font-weight: bold;
        font-size: 13.78px;
        line-height: 128.3%;
        margin-top: 5px;
      }
    }
    .button-row {
      justify-content: center;

      .separator-box {
        margin: 15px !important;
      }
    }
  }
}

.btn-upload {
  position: relative;
  width: 316px;
  height: 68.13px;
  background: #222222;
  border-radius: 4px;
}
.padding-form {
  padding: 20px 40.5px;
  width: 90% !important;
  background: #161616;
  margin-top: 30px;
}

::ng-deep mat-form-field {
  margin-right: 15px;
  margin-bottom: 5px;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px;
}
::ng-deep mat-label {
  color: #6f6f6f;
}
::ng-deep.mat-calendar-body-label {
  display: none;
}
::ng-deep .mat-datepicker-content {
  background: #100d10;
  color: #ffffff;
}
::ng-deep .mat-calendar-body-cell-content,
.mat-date-range-input-separator {
  color: #ffffff !important;
}
::ng-deep .mat-calendar-table-header {
  color: #ffffff !important;
}
::ng-deep .mat-calendar-header {
  color: #01c586;
}
::ng-deep .mat-datepicker-content .mat-calendar-previous-button {
  color: #ffffff;
}
::ng-deep .mat-datepicker-content .mat-calendar-next-button {
  color: #ffffff;
}
::ng-deep .mat-calendar-arrow {
  color: #ffffff;
  border-top-color: #ffffff;
}
::ng-deep
  .ngx-mat-timepicker
  form
  .ngx-mat-timepicker-table
  .ngx-mat-timepicker-tbody
  tr
  td
  .mat-form-field {
  margin: 0 15px;
}
::ng-deep.mat-calendar-body-selected {
  border: 2px solid #62f8b2;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 3.5px rgba(98, 248, 178, 0.87));
  background: transparent;
}
::ng-deep .mat-stroked-button {
  border-color: #62f8b2 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  margin-bottom: 5px;
}
textarea {
  font-family: "Helvetica LT Std";
  width: 630px !important;
  height: 130px;
}
