.margin-top-icon {
  @media (min-width: 0px) and (max-width: 768px) {
    margin-top: 10%;
  }
  @media (min-width: 768px) and (max-width: 1280px) {
    margin-top: 7%;
  }
  @media (min-width: 768px) {
    margin-top: 5%;
  }
}

.tabs-ubication {
  @media (min-width: 0px) and (max-width: 768px) {
    margin-top: 38%;
    min-width: 100%;
  }
  @media (min-width: 768px) {
    margin-top: 14%;
    min-width: 100%;
  }
}
