<section id="content-section-img" class="fullSection content-flex-all-center flex-direction-column">
  <div class="logo"></div>

  <h2 class="title-secondary secondary max-width-title"> Beck's Society </h2>
  <h1 class="title-primary primary max-width-title">
    Un club tan único como las experiencias que puedes vivir en ÉL
  </h1>

  <ion-button
    block="block"
    color="becks"
    class="becks-button"
    (click)="scrollToElement()">
    <span>REGÍSTRATE</span>
  </ion-button>
  
</section>