<section class="fullSection content-flex-all-center flex-direction-column content-section-img">
  <div class="logo"></div>

  <h2 class="title-secondary secondary"> Beck's Society </h2>
  <h1 class="title-primary primary max-width-title-primary">
    Un club tan único como las experiencias que puedes vivir en ÉL
  </h1>

  <ion-button
    block="block"
    color="becks"
    class="becks-button margin-top-button"
    (click)="scrollToElement()">
    <span>REGÍSTRATE</span>
  </ion-button>
  
</section>