.becks-btn-primary,
.button-disabled,
.button-disabled:hover,
.button-disabled:active {
  padding-left: 35px;

  @media (min-width: 0px) and (max-width: 768px) {
    font-size: 11px !important;
    background-position-x: 10px;
    &:hover {
      background-position-x: 7px;
    }
  }
  @media (min-width: 769px) {
    background-position-x: 60px;
    &:hover {
      background-position-x: 57px;
    }
  }
}
