.backgroud-img-confirm {
    
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    @media (min-width: 0px) and (max-width: 768px) {
        background-image: url('../../../assets/img/bg_mobile_360x667_home.jpg');
    }
    @media (min-width: 768px)  {
        background-image: url('../../../assets/img/bg_desktop_1366x768_home.jpg');
    }
}

.margin-button-top{
    margin-top: 15px;
}

