<ion-content>
  <div
    class="fullSection content-flex-all-center flex-direction-column content-section-img padding-logo"
  >
    <img class="logo" src="./assets/img/becks-logoverde.svg" alt="logo" />
    <h1 class="title-primary primary max-width-title-primary">
      Gracias por registrarte
    </h1>

    <h3 class="title-tertiary max-width-title-tertiary">
      Falta poco para que seas parte de la Beck’s Society
    </h3>

    <div>
      <ion-button
        block="block"
        color="becks"
        class="becks-btn-primary margin-button-top"
        queryParamsHandling="preserve"
        (click)="goToHome()"
        >VOLVER A LA HOME
      </ion-button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
