<ion-content>
  <div class="fullSection content-flex-all-center flex-direction-column content-section-img padding-logo">
    <img class="logo" src="./assets/img/logo.svg" alt="">
    <h1 class="title-primary primary max-width-title-primary">
      GRACIAS POR REGISTRARTE. FALTA POCO PARA QUE SEAS PARTE DE LA BECK’S SOCIETY.
    </h1>

    <div>
      <ion-button
        block="block"
        color="becks"
        class="becks-btn-primary margin-button-top"
        queryParamsHandling="preserve"
        routerLink="/principal"
      >VOLVER AL INICIO</ion-button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>