.color-footer {
  background-color: #377f5e;
  min-height: 169px;
}

.padding-footer {
  padding: 50px;
}

.flex-column {
  flex-direction: column;
}
.padding-age-gate {
  padding: 23px 37px;
}
a {
  text-align: center;
}
