.seccion-tabs {
  min-height: 100%;
  width: 100%;
}

.internal-section {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  flex-direction: column;
  align-items: center;
}

.tab-group {
  justify-content: center;
  @media (min-width: 768px) {
    align-items: flex-end;
    margin-top: -78px;
  }
}

:host ::ng-deep .mat-tab-label {
  font-family: "Helvetica LT Std";
  color: #ffffff !important;
  font-size: 11px;
  @media (min-width: 0px) and (max-width: 768px) {
    border-bottom: 3px solid #c4c4c4;
  }
  @media (min-width: 769px) and (max-width: 1366px) {
    height: 65px;
    font-size: 14px;
    border-bottom: 0px solid #c4c4c4;
  }
  @media (min-width: 1367px) {
    height: 65px;
    font-size: 24px;
    border-bottom: 0px solid #c4c4c4;
  }
}

:host ::ng-deep .mat-tab-label-active {
  font-family: "Helvetica LT Std";
  color: #ffffff !important;
  font-size: 11px;
  min-width: 0px;
  @media (min-width: 769px) and (max-width: 1366px) {
    height: 65px;
    font-size: 14px;
    width: 70px;
    margin-bottom: 18px;
    padding: revert;
  }
  @media (min-width: 1367px) {
    height: 65px;
    font-size: 24px;
    margin-bottom: 18px;
    padding: revert;
  }
}

:host ::ng-deep .mat-ink-bar {
  background: linear-gradient(100deg, #00d18c 100%, #03b87c 100%, #019874 87%);
  height: 10px !important;
}

:host ::ng-deep .mat-tab-header {
  @media (min-width: 768px) {
    width: 35%;
    margin-right: 25%;
  }
}

::ng-deep .mat-tab-body-wrapper {
  background-color: transparent;
  min-width: 100%;
  @media (min-width: 768px) {
    background-color: #171717;
    min-width: 100%;
  }
}

::ng-deep .mat-tab-body-content {
  height: auto !important;
}

.container-desktop {
  min-height: 100%;
  min-width: 100%;
  background-color: #171717;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.card-component-circle {
  background-color: #1d1d1d;
  margin-left: 10%;
  width: 25%;
  height: 440px;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  contain: strict;
  margin-bottom: 20px;
}

.card-component-experiences {
  flex-direction: column;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  margin-top: 42px;
  margin-left: 3%;
  width: 53%;
  height: 440px;
  margin-bottom: 42px;
  contain: strict;
  overflow: auto;
}

.margin-tittle-desktop {
  margin-top: 32px;
  width: 94%;
  flex-direction: row;
  display: flex;
}

.text-aling {
  width: 85%;
}

.text-aling-end {
  width: 10%;
  text-align: end;
}

.experioencesCard {
  flex-direction: column;
  background-color: #1d1d1d;
  height: 440px;
  width: 80%;
  margin-top: 42px;
  margin-bottom: 42px;
  align-items: center;
  contain: strict;
  overflow: auto;
  display: flex;
}
