<div class="color-footer content-flex-all-center padding-footer"> 
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="2" sizeXl="2" class="col-flex-center"><img class="logo2" src="./assets/img/becks-logoblanco.svg"></ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="7" sizeXl="7" class="col-flex-center">
        <ion-grid fixed>
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><a target="_blank" href="https://www.tapintoyourbeer.com/" class="font-link">Hablemos de Alcohol</a></ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><a target="_blank" href="/terms-conditions" class="font-link">Términos y condiciones</a></ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><a target="_blank" href="/privacy-policy" class="font-link">Políticas de privacidad</a></ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><a target="_blank" href="https://www.bavaria.co/contactenos" class="font-link">Contáctenos</a></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center flex-column">
        <p class="font-link-social">Follow Us</p>
        <div>
          <a target="_blank" href="https://www.instagram.com/becks_society"><img class="social-icon" src="./assets/img/instagram-brands.svg" alt=""></a>
          <a target="_blank" href="https://twitter.com/Cervezabecksco"><img class="social-icon" src="./assets/img/facebook-brands.svg" alt=""></a>
          <a target="_blank" href="https://business.facebook.com/cervezabecksco/?business_id=659764620812146"><img class="social-icon" src="./assets/img/twitter-brands.svg" alt=""></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCqSDsk_LuG3VlIIgglpk2oQ"><img class="social-icon" src="./assets/img/youtube-brands.svg" alt=""></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>