@mixin btn ($color, $background, $border, $font-family, $font-size, $width, $height, $border-hover) {
  width: $width;
  height: $height;
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  cursor: pointer;
  background-color: $background;
  border-radius: 4px;

  span {
    font-size: $font-size;
    font-weight: bold;
  }

  &:hover {
    border: $border-hover;
    background: $background;
  }

  &:active {
    background: $color;
    span {
      color: $background;
    }
  }
}

.becks-btn-primary {
  @include btn(#FFFFFF, #377F5E, 2px solid #FFFFFF, 'Helvetica LT Std', 14px, 267px, 56px,3px solid #FFFFFF)
}

.becks-btn-cookies {
  @include btn(#FFFFFF, #377F5E, 2px solid #FFFFFF, 'Helvetica LT Std', 14px, 200px, 35px,3px solid #FFFFFF)
}

.button-disabled {
  background: #BDBDBD;
  opacity: 1;
  span {
    color: #FFFFFF;
  }
}