.content-flex-all-center{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;

    .form-section {
        max-width: 752px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
    }
    
    // @media (min-width: 0px) and (max-width: 360px) {
    // }
    // @media (min-width: 360px) and (max-width: 768px) {
    // }
    // @media (min-width: 0px) and (max-width: 1024px) {
    // }
}

.full-height{
    height: 100%
}

.flex-direction-column {
    flex-direction: column;
}

.col-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.full-height{
    min-height: 100%;
}

.max-width-title-primary{
    max-width: 68%;
}

.max-width-title-secondary{
    @media (min-width: 361px)  {
        max-width: 60.5%;
    }
}

.max-width-title-tertiary{
    @media (min-width: 361px)  {
        max-width: 59%;
    }
}

.fullSection {
    width: 100%;
    min-height: 100%;
}

.content-section-img{
    background: #140514;
    background-image: url('../assets/img/sectionImg.png');
    background-size: cover;
    background-position: center;
    
    // @media (min-width: 0px) and (max-width: 360px) {
    // }
    @media (min-width: 0px) and (max-width: 768px) {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.2) 100%, rgba(0,0,0,0.2) 100%), url('../assets/img/sectionImg.png');
        background-position-x: 83%;
    }
    // @media (min-width: 0px) and (max-width: 1024px) {
    // }
}

.content-section-step{
    background-color: #140514;
    height: auto;
    h1 {
        max-width: 50%;
    }
    .title-tertiary {
        max-width: 70%;
    }
    ion-grid {
        padding: 100px 0;
    }
    
    // @media (min-width: 0px) and (max-width: 360px) {
    // }
    @media (min-width: 0px) and (max-width: 768px) {
        h1 {
            max-width: 90%;
        }
    }
    // @media (min-width: 0px) and (max-width: 1024px) {
    // }
}

.from-section {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 100%, rgba(0,0,0,0.7) 100%), url('../assets/img/sectionTwo.png');
    background-size: cover;
    background-position: center;
}


.padding-form {
    padding: 139px 40.5px 143px 40.5px;
    @media (min-width: 0px) and (max-width: 720px) {
    .max-width-title{
        max-width: 828px;
        padding-left: 55px;
        padding-right: 55px;
    }
}
}


