@font-face {
    font-family: 'Eurostile';
    src:  url('../assets/font/Eurostile.woff') format('woff');
}

@font-face {
    font-family: 'Eurostile BQ';
    src:  url('../assets/font/EurostileBQ-BoldExtended.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica LT Std';
    src:  url('../assets/font/HelveticaNeueLTStd-BdCn_3.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue';
    src:  url('../assets/font/HelveticaNeue.woff') format('woff');
}

@mixin title ($font-family, $color, $margin, $font-size, $font-style, $font-weight, $line-height) {
    font-family: $font-family !important;
    color: $color !important;
    margin: $margin !important;
    font-size: $font-size !important;
    font-style: $font-style !important;
    font-weight: $font-weight !important;
    line-height: $line-height !important;
    text-align: center !important;
    letter-spacing: 0px !important;
}

.title-primary {
    @include title('Eurostile BQ', #FFFFFF, 0px, 44px, normal, normal, 60px);
    text-transform: uppercase;
    @media (min-width: 0px) and (max-width: 720px) {
        line-height: 44px;
    }
}

.title-secondary {
    @include title('Helvetica Neue', #FFFFFF, 0px, 28px, normal, bold, 32px);
    max-width: 50%;
}

.title-tertiary {
    @include title('Eurostile', #FFFFFF, 0px, 24px, normal, normal, 26px);
}

.primary {
    text-align: center;
    font-size: 60px;
    letter-spacing: 0px;
    @media (min-width: 0px) and (max-width: 720px) {
        font-size: 30px;
    }
}

.secondary {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0px;
    @media (min-width: 0px) and (max-width: 720px) {
        font-size: 24px;
    }
}

p{
    color: #FFFFFF;
    margin: 8.5px;
}