@mixin img-step ($background-image, $width, $height) {
    background-image: $background-image;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $width;
    height: $height;
    margin-top: 85px;
    margin-bottom: 73px;
    @media (min-width: 0px) and (max-width: 720px) {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.separator-min {
    @include img-step(url('../assets/img/rectangle.svg'), 62px, 2px)
}

.register{
    @include img-step(url('../assets/img/register.svg'), 121px, 73px)
}

.surface{
    @include img-step(url('../assets/img/surface.svg'), 121px, 73px)  
}

.customer{
    @include img-step(url('../assets/img/customer.svg'), 121px, 73px)
}

.logo{
    @include img-step(url('../assets/img/logo.png'), 140px, 65.5px);
    background-size: auto;
    position: absolute;
    top: 17px;
    left: 139px;
    z-index: 99;
    margin-top: 0px;
    // @media (min-width: 0px) and (max-width: 360px) {
    // }
    @media (min-width: 0px) and (max-width: 768px) {
        top: 0px;
        left: auto;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
    }
}

.social {
    background-image: url('../assets/img/Social.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 165px;
    height: 33px;
}

