<div class="container-fluid becks--footer">
	<div class="row becks--footer-1">
		<div class="col-xs-12 col-sm-12 col-md-6">
		<h3>PROHÍBESE EL EXPENDIO DE BEBIDAS EMBRIAGANTES A MENORES DE EDAD. EL EXCESO DE ALCOHOL ES PERJUDICIAL PARA LA SALUD</h3>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 text-center">
		 <a target="_blank" href="http://www.bavaria.co/ConsumoResponsable">
			<img src="http://ec2-3-19-208-8.us-east-2.compute.amazonaws.com/devall/indra/themes/abinv/images/consumoresponsable.png" alt="consumo responsable" class="consumo"></a>
		</div>
	</div>

	<div class="row becks--footer-3">
		<div class="col-xs-12 col-sm-12 col-md-2">
		<img src="https://becks.flexitco.co/admin/becks-logoblanco.e747c7e8e8dbcac63464.svg" alt="Logo de Becks">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8">
			<ul>
			<li><a href="https://www.Bavaria.co/viveresponsable/" target="_blank">Vivamos responsable</a></li>
			<li><a href="https://becks.flexitco.co/admin/assets/files/TERMINOSYCONDICIONESGENERALES.pdf" target="_blank">Términos y condiciones generales</a></li>
			<li><a href="https://becks.flexitco.co/admin/privacy-policy" target="_blank">Políticas de privacidad</a></li>
			<li><a href="https://becks.flexitco.co/admin/assets/files/AVISO_DE_PRIVACIDAD.pdf" target="_blank">Aviso de privacidad</a></li>
			<li><a href="https://www.bavaria.co/contactenos" target="_blank">Contáctenos</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2">
		<h3>Follow Us</h3>
		
		<div class="social">
		    <a target="_blank" href="https://www.instagram.com/becks_society">
			<img src="https://becks.flexitco.co/admin/assets/img/instagram-brands.svg" alt="IG" class="social-icon"></a>
			<a target="_blank" href="https://business.facebook.com/cervezabecksco/?business_id=659764620812146">
			<img src="https://becks.flexitco.co/admin/assets/img/facebook-brands.svg" alt="TW" class="social-icon"></a>
			<a  target="_blank" href="https://twitter.com/Cervezabecksco">
			<img  src="https://becks.flexitco.co/admin/assets/img/twitter-brands.svg" alt="FB" class="social-icon"></a>
			<a  target="_blank" href="https://www.youtube.com/channel/UCqSDsk_LuG3VlIIgglpk2oQ">
			<img  src="https://becks.flexitco.co/admin/assets/img/youtube-brands.svg" alt="YB" class="social-icon"></a>
		</div>

		</div>
	</div>
		<div class="row becks--footer-2">
		<div class="col-md-12">
			<h3>NO COMPARTA ESTE CONTENIDO CON MENORES DE EDAD</h3>

			<p>Todos los derechos reservados @2020 <a href="https://www.ab-inbev.com/" target="_blank">Anheuser-Busch InBev</a><p>
		</div>
	</div>
</div>