.branch{
    background-image: url('../../../assets/img/Ebene_1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 213px;
    height: 56px;
}

ion-header{
    position: absolute;
}