{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.hasClass('button') and not attributes.hasClass('field-add-more-submit') %}
<div class="custom-control custom-switch">
  <input{{ attributes.addClass('btn btn-primary') }}/>
  <label class="custom-control-label" for="edit-field-con-date-activ-value"></label>
</div>

{% else %}
<div class="custom-control custom-switch">
  <input{{ attributes.addClass('custom-control-input') }} />

  <label for="{{ attributes.id }}" class="custom-control-label" ></label>
</div>
{% endif %}
{{ children }}