.exp-slider .item-exp .content-exp {
  margin-left: 50px;
  @media (min-width: 0px) and (max-width: 768px) {
    margin-left: 0px;
  }
}

.becks-btn-primary,
.button-disabled,
.button-disabled:hover,
.button-disabled:active {
  background-position-x: 40px;
  &:hover {
    background-position-x: 37px;
  }
  @media (min-width: 0px) and (max-width: 768px) {
    font-size: 11px !important;
  }
}

.exp-link-value span {
  padding: 10px;
  text-decoration: underline;
  vertical-align: super !important;
}

.default-slide {
  background-color: #252525;
}
