.becks-btn-primary,
.button-disabled,
.button-disabled:hover,
.button-disabled:active {
  background-position-x: 40px;
  &:hover {
    background-position-x: 37px;
  }
  @media (min-width: 0px) and (max-width: 768px) {
    font-size: 11px !important;
  }
}
