::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #FFFFFF;

}
::ng-deep .mat-checkbox-checkmark-path {
  stroke: #2DAF73!important;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-frame {
 background-color: #FFFFFF;

}

  .title-primary {
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 18px!important;
    line-height: 22px!important;
    text-align: left!important;
  }
  .title-fourthy{
    text-align: left!important;
    font-size: 16px!important;
    line-height: 19px!important;
  }

 .mat-paginator-page-size{
    display: none !important;
}

.btn-delete {
  background: url('../../../../../assets/icon/trash-alt.svg');
  background-repeat: no-repeat!important;
  background-size: contain!important;
  width: 25px;
  height: 29px;
}
