<div class="color-footer content-flex-all-center"> 
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="2" sizeXl="2" class="col-flex-center"><div class="branch"></div></ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="7" sizeXl="7" class="ion-text-center">
        <ion-grid fixed>
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="4" sizeXl="4">Términos y condiciones</ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="4" sizeXl="4">Políticas de privacidad</ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="4" sizeXl="4">Contáctenos</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><div class="social"></div></ion-col>
    </ion-row>
  </ion-grid>
</div>