<div class="color-footer content-flex-all-center padding-footer"> 
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="2" sizeXl="2" class="col-flex-center"><div class="logo-2"></div></ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="7" sizeXl="7" class="col-flex-center">
        <ion-grid fixed>
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><p class="font-link">Hablemos de Alcohol</p></ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><p class="font-link">Términos y condiciones</p></ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><p class="font-link">Políticas de privacidad</p></ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center"><p class="font-link">Contáctenos</p></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeLg="3" sizeXl="3" class="col-flex-center flex-column"><p class="font-link-social">Follow Us</p><div class="social"></div></ion-col>
    </ion-row>
  </ion-grid>
</div>