.container {
  height: 90%;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 0px) and (max-width: 768px) {
    text-align: center;
  }
}

h1 {
  color: #fff;
  text-align: center;
}
