.card-model {
  margin-top: 24px;
  background-color: #141313;
  height: 9.01%;
  display: flex;
  color: #ffffff;
  margin-bottom: 24px;
}

.vertical_card_model {
  margin-top: 24px;
  background-color: #141313;
  height: 230px;
  display: flex;
  width: 193px;
  margin-right: 25px;
  margin-bottom: 24px;
}

.container {
  @media (min-width: 768px) {
    margin-left: 10px;
  }
}

.image-card {
  width: 33%;
  height: 73px;
  @media (min-width: 768px) {
    height: 117px;
    width: 25%;
  }
}

.image-card-vertical {
  height: 40%;
}

.display-flex {
  display: flex;
}

.content-card {
  justify-content: center;
  align-items: flex-start;
  min-height: 100%;
  padding: 5px;
  width: 67%;
}

.content-card-vartical {
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}

.content-card-details {
  justify-content: flex-end;
  min-height: 100%;
  min-width: 98%;
  position: absolute;
  align-items: flex-end;
}

::ng-deep .mat-card {
  padding: 0px 0px 0px 5px !important;
}

.red-color {
  color: #ff0c3e !important;
}

.orange-color {
  color: #ff720c !important;
}

.green-color {
  color: #038259 !important;
}
