.card-model {
  margin-top: 24px;
  background-color: #141313;
  height: 9.01%;
  display: flex;
  color: #ffffff;
}

.image-card {
  width: 33%;
}

::ng-deep .mat-card {
  padding: 0px 0px 0px 5px !important;
}
