<ion-content #principalContent>
  <section class="fullSection content-section-one content-flex-all-center flex-direction-column">
    <div class="branch"></div>

    <h1 class="title-primary primary max-width-title">
      Un club tan único como las experiencias que puedes vivir en ÉL
    </h1>

    <ion-button
      block="block"
      color="becks"
      class="becks-button"
      (click)="scrollToElement()">
      <span>REGÍSTRATE</span>
    </ion-button>

    <div class="section-vertical-blur"> </div>
    <div class="section-horizontal-blur"> </div>
  </section>

  <section class="fullSection content-section-two content-flex-all-center flex-direction-column">
    <h1 class="title-secondary secondary">
      Es un club exclusivo con capacidad limitada. Sólo siendo miembro podrás vivir experiencias que jamás imaginaste
    </h1>

    <div>
      <ion-grid fixed="fixed">
        <ion-row>
          <ion-col
            sizeXs="12"
            sizeSm="12"
            sizeLg="4"
            sizeXl="4"
            class="col-flex-center"
          >
          <div class="content-flex-all-center flex-direction-column">
            <div class="register"></div>
            <p class="title-tertiary">
              Regístrate en la <br/>waiting list
            </p>
          </div>
          </ion-col>

          <ion-col
            sizeXs="12"
            sizeSm="12"
            sizeLg="4"
            sizeXl="4"
            class="col-flex-center"
          >
          <div class="content-flex-all-center flex-direction-column">
            <div class="customer"></div>
            <p class="title-tertiary">
              Espera a ser <br/>aceptado
            </p>
          </div>
          </ion-col>

          <ion-col
            sizeXs="12"
            sizeSm="12"
            sizeLg="4"
            sizeXl="4"
            class="col-flex-center"
          >
          <div class="content-flex-all-center flex-direction-column">
            <div class="surface"></div>
            <p class="title-tertiary">Recibe tu código <br/>único e ingresa</p>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section
    id="formSection"
    class="fullSection from-section"
  >
    <div class="content-flex-all-center full-height flex-direction-column padding-form">
      <p class="title-primary secondary">DÉJANOS TUS DATOS</p>

      <P class="white tertiary">
        Si quieres ser parte de Becks society llena algunos datos
      </P>

      <form
        [formGroup]="userRegisterForm"
        class="form-section"
      >
        <ion-grid fixed="fixed">
          <ion-row>
            <ion-col
              sizeXs="12"
              sizeSm="12"
              sizeLg="6"
              sizeXl="6"
            >
              <ion-item>
                <ion-label position="floating">Nombre*</ion-label>

                <ion-input
                  formControlName="name"
                  [(ngModel)]="userRegister.first_name"
                  type="text"
                  pattern="[a-zA-Z ]*"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col
              sizeXs="12"
              sizeSm="12"
              sizeLg="6"
              sizeXl="6"
            >
              <ion-item>
                <ion-label position="floating">Apellido*</ion-label>

                <ion-input
                  formControlName="surname"
                  [(ngModel)]="userRegister.last_name"
                  type="text"
                  pattern="[a-zA-Z ]*"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              sizeXs="12"
              sizeSm="12"
              sizeLg="6"
              sizeXl="6"
            >
              <ion-item>
                <ion-label position="floating">Correo electronico*</ion-label>

                <ion-input
                  formControlName="email"
                  [(ngModel)]="userRegister.email"
                  type="email"
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col
              sizeXs="12"
              sizeSm="12"
              sizeLg="6"
              sizeXl="6"
            >
              <ion-item>
                <ion-label position="floating">Número de telefono*</ion-label>

                <ion-input
                  formControlName="telephone"
                  [(ngModel)]="userRegister.mobile_phone"
                  type="number"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              sizeXs="12"
              sizeSm="12"
              sizeLg="6"
              sizeXl="6"
            >
              <ion-item>
                <ion-label position="floating">Género</ion-label>

                <ion-select
                  formControlName="gender"
                  [(ngModel)]="userRegister.gender"
                  interface="popover"
                >
                  <ion-select-option value="F">Femenino</ion-select-option>

                  <ion-select-option value="M">Masculino</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-button
              block="block"
              color="becks"
              (click)="saveUser()"
              class="becks-button"
              [disabled]="userRegisterForm.invalid">
              <span>CONTINUAR</span>
            </ion-button>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>